@3vjia:registry=http://repo.3weijia.com/repository/npm-releases
registry=http://repo.3weijia.com/repository/npm-publice
sass_binary_site=http://repo.3weijia.com/repository/node-sass/
electron_mirror=http://repo.3weijia.com/repository/electron/
chromedriver_cdnurl=http://repo.3weijia.com/repository/chromedriver/
puppeteer_download_host=http://repo.3weijia.com/repository/
operadriver_cdnurl=http://repo.3weijia.com/repository/operadriver/
phantomjs_cdnurl=http://repo.3weijia.com/repository/phantomjs/
